<nav class="navbar" role="navigation" aria-label="main navigation">
  <span class="navbar-item center">
      <img src="assets/img/logo.png">
  </span>
</nav>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">    
  <div class="navbar-start center">
    <a class="navbar-item space" routerLinkActive="active" routerLink="visualization">
      <div class="center">VISUALIZAÇÃO</div>
    </a>
    <a class="navbar-item space" routerLinkActive="active" routerLink="sharing">
      <div class="center">COMPARTILHAMENTO</div>
    </a>
    <a class="navbar-item space" routerLinkActive="active" routerLink="about">
      <div class="center">SOBRE</div>
    </a>
  </div>
</nav>