<div class="content">
    <h1>SOBRE</h1>
  </div>

<div class="content is-normal">
  <h2>Visualização de Dados</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
  <h2>Compartilhamento</h2>
  <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
  <ul>
    <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
    <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
    <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
  </ul>

  <!-- 'http://lupa.tecccog.net'; -->

  <h2>Acesse nosso Site</h2>
  <p>Aqui você encontra detalhes sobre o projeto, publicações, fotos, equipe, entre outros.</p>
  <p>Clique em <a href="{{env.externalLink.website}}" target="_blank">lupa.teccog.net</a></p>

  <h2>Acesse nossas Redes Sociais</h2>
  <p>Acompanhe de perto as notícias e atualizações.</p>

  <a href="{{env.externalLink.linkedin}}" target="_blank"><img class="social-media-img" src="assets/img/linkedin.png"></a>
  <a href="{{env.externalLink.facebook}}" target="_blank"><img class="social-media-img" src="assets/img/facebook.png"></a>
  <a href="{{env.externalLink.twitter}}" target="_blank"><img class="social-media-img" src="assets/img/twitter.png"></a>
  <a href="{{env.externalLink.instagram}}" target="_blank"><img class="social-media-img"  src="assets/img/instagram.png"></a>
  <a href="{{env.externalLink.youtube}}" target="_blank"><img class="social-media-img" src="assets/img/youtube.png"></a>
  
</div>